.maincontainer{
    height: 500px;
    width: 600px;
    overflow-y: scroll;
    margin: 0px 300px;
    background-image: url("Speech-Chat-Icon-Transparent-PNG.png");
    background-size: 550px;
    background-repeat: no-repeat;
    backface-visibility: initial;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   
}

.firstcontainer{
    max-height: 60px;
    max-width: 600px;
    margin: 0px 300px;
    display: flex;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#logo-image{
    height: 60px;
    width: 60px;

}

#online-users{
    height: 40px;
    width: 40px;
    margin-left: 450px;

}
.nousers{
    display: flex;
    margin-top: 5px;
    
}
.nousers p{
    margin-left: 3px;
    
}
.thirdcontainer{
    height: 60px;
    width: 600px;
    /* border: 1px solid black; */
    margin: 0px 300px;
    /* box-shadow: 10px 5px 5px red; */
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
input{
    width: 500px;
    height: 30px;
    margin-top: 10px;
    margin-left: 10px;
    
}
button{
    width: 50px;
    height: 30px;
    background-color: blueviolet;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
button:hover{
    cursor: pointer;
    opacity: 0.8;
}
.msgs{
    max-width: 200px;
    min-height: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    margin-top: 20px;
    margin-left: 380px;
    background-color: white;
    
 
}
.msgs2{
    max-width: 200px;
    min-height: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 20px;
    margin-left: 20px;
   background-color: white;
   color: blueviolet;
}

.msg3{
    max-width: 250px;
    min-height: 15px;
    margin-top: 20px;
    color: brown;
    margin-left: 180px;
}
.nousers{
    width: 20px;
    height: 20px;

}

.time{
    font-size: smaller;
    text-align: end;
    margin-bottom: 0px;
}

.name-of-user{
    font-size: smaller;
    text-align: start;
    margin-top: 0px;
    color: brown;
}